<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <table id="stock_table" class="table table-striped dataTable no-footer" style="width: 100%">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>product_code</th>
            <th>Catagory</th>
            <th>sub_catagory</th>
            <th>product_unit</th>
            <th>Qty</th>
            <th>Sales Rate</th>
            <th>purchase_rate</th>
          </tr>
        </thead>
        <tbody>
  
  <tr>
    <td>demo product 1</td>
    <td>P4342121</td>
    <td>demo 1</td>
    <td>sub demo 1</td>
    <td>demo unit 1</td>
    <td>15</td>
    <td>200.00</td>
    <td>250.00</td>
  </tr>

  
  <tr>
    <td>demo product 2</td>
    <td>P5675986</td>
    <td>demo 1</td>
    <td>sub demo 2</td>
    <td>demo unit 1</td>
    <td>20</td>
    <td>250.00</td>
    <td>280.00</td>
  </tr>

  
  <tr>
    <td>demo product 3</td>
    <td>P5675988</td>
    <td>cloth</td>
    <td>men</td>
    <td>demo unit 2</td>
    <td>30</td>
    <td>360.00</td>
    <td>855.00</td>
  </tr>

  
  <tr>
    <td>demo product 4</td>
    <td>P5675985</td>
    <td>electronics</td>
    <td>phone</td>
    <td>demo unit 3</td>
    <td>800</td>
    <td>7500.00</td>
    <td>11500.00</td>
  </tr>

  

</tbody>
    </table>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <table id="stock_table" class="table table-striped dataTable no-footer" style="width: 100%">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>product_code</th>
            <th>Catagory</th>
            <th>sub_catagory</th>
            <th>product_unit</th>
            <th>Qty</th>
            <th>Sales Rate</th>
            <th>purchase_rate</th>
          </tr>
        </thead>
        <tbody>
            
  <tr>
    <td colspan="8" class="text-center bg-warning">No Product</td>
  </tr>


        </tbody>
    </table>
</div>