{% extends '../base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}
    
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    <div class="card text-bg-primary card_width_custom">
        <div class="card-header">
          <h3 class="card-title text-center">Catagories</h3>
        </div>
        <div class="card-body ">
          <p class="text-center fs-2 text ">15</p>
        </div>
      </div>
      <div class="card text-bg-warning card_width_custom">
        <div class="card-header">
          <h3 class="card-title text-center">Products</h3>
        </div>
        <div class="card-body ">
          <p class="text-center fs-2 text ">1.2 K</p>
        </div>
      </div>
      <div class="card text-bg-danger card_width_custom">
        <div class="card-header">
          <h3 class="card-title text-center">Today's Tranction</h3>
        </div>
        <div class="card-body ">
          <p class="text-center fs-2 text ">16.4 K</p>
        </div>
      </div>     

</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="card text-bg-success card_width_custom">
        <div class="card-header">
          <h3 class="card-title text-center">Today's Sales</h3>
        </div>
        <div class="card-body ">
          <p class="text-center fs-2 text ">778</p>
        </div>
      </div>
      <div class="card text-bg-secondary card_width_custom">
        <div class="card-header">
          <h3 class="card-title text-center">Current Month Sales</h3>
        </div>
        <div class="card-body ">
          <p class="text-center fs-2 text ">10 K</p>
        </div>
      </div>
      <div class="card text-bg-info card_width_custom">
        <div class="card-header">
          <h3 class="card-title text-center">Current Year Sales</h3>
        </div>
        <div class="card-body ">
          <p class="text-center fs-2 text ">1.2 M</p>
        </div>
      </div>
</div>
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% comment %} <h1 class="h2 ">Graph</h1> {% endcomment %}

</div>
{% endblock content %}
    